.codehemu-monster-quit {
  width: 20px !important;
  height: 20px !important;
  background: transparent;
  background-size: cover;
  background-image: url(chrome-extension://__MSG_@@extension_id__/images/remove.png)!important;
  position:fixed;
  border: none;
  top:0px;
  right:0px;
  margin: 10px;
  z-index: 99999999;
}

.codehemu-monster-plus:hover{
	background-image: url(chrome-extension://__MSG_@@extension_id__/images/plus.png)!important;
}
.codehemu-monster-min:hover{
	background-image: url(chrome-extension://__MSG_@@extension_id__/images/min.png)!important;
}

.codehemu-monster-box {
	position:absolute !important;
	z-index:99999999;
	left:0px;
	top:0px;
}

#codehemu-monster-floor {
	position:fixed;
	z-index:99999;
}

.monster {
	position:relative !important;
	width:50px !important;
	height:50px !important;
}

.codehemu-monster-hitbox:hover {
	cursor:-webkit-grab;
	display:block;
	padding-left:80px;
	padding-top:80px;
	border-top-left-radius: 90px; 
	border-top-right-radius: 90px;
	left:-80px;
	top:-80px;
	width:100px; 
	height:19px;
	position:absolute;
	-webkit-box-sizing: content-box;
}


.codehemu-monster-hitbox:active {
	cursor:-webkit-grabbing !important;
}

.monster:active {
	cursor:-webkit-grabbing !important;
}

.monster img {
	width:50px;
	height:50px;
}

.codehemu-monster-text {
	font-size: 12pt !important;
	display:inline-block !important;
	width:20px !important;
	height:20px !important;
}


.codehemu-monster-plus {
  width: 20px !important;
  height: 20px !important;
  background: transparent;
  background-size: cover;
  position:fixed;
  border: none;
  top:0px;
   margin: 10px;
  right: 25px;
  transform: rotate(45deg);
  z-index: 99999999;
}

.codehemu-monster-min {
  width: 20px !important;
  height: 20px !important;
  background: transparent;
  background-size: cover;
  position:fixed;
  margin: 10px;
  border: none;
  top:0px;
  right: 55px;
  z-index: 99999999;
}

